{% extends "home.html" %}
{% block img %}/media/{{u.image}}{% endblock img %}
{% block name %}{{u.user.first_name}} {{u.user.last_name}}{% endblock name %}
{% block desig %}{{u.designation}}{% endblock desig %}
{% block style %}
.register-photo {
    background:#f1f7fc;
    padding:80px 0;
  }
  
  .register-photo .image-holder {
    display:table-cell;
    width:auto;
    background:url('https://th.bing.com/th/id/OIP.xe_M6IfaPvjmmX5loM-7PQAAAA?pid=ImgDet&rs=1');
    background-size:cover;
  }
  
  .register-photo .form-container {
    display:table;
    max-width:900px;
    width:90%;
    margin:0 auto;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .register-photo form {
    display:table-cell;
    width:400px;
    background-color:#ffffff;
    padding:40px 60px;
    color:#505e6c;
  }
  
  @media (max-width:991px) {
    .register-photo form {
      padding:40px;
    }
  }
  
  .register-photo form h2 {
    font-size:24px;
    line-height:1.5;
    margin-bottom:30px;
  }
  
  .register-photo form .form-control {
    background:#f7f9fc;
    border:none;
    border-bottom:1px solid #dfe7f1;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
    text-indent:6px;
    height:40px;
  }
  
  .register-photo form .form-check {
    font-size:13px;
    line-height:20px;
  }
  
  .register-photo form .btn-primary {
    background:#f4476b;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:35px;
    text-shadow:none;
    outline:none !important;
  }
  
  .register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
    background:#eb3b60;
  }
  
  .register-photo form .btn-primary:active {
    transform:translateY(1px);
  }
  
  .register-photo form .already {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
{% endblock style %}

{% block body %}
<div class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form method="post" name="change_pwd" onsubmit="return checknewpassword()">
            {% csrf_token %}
            <h2 class="text-center"><strong>Change your Password</strong></h2>
            <div class="form-group"><input class="form-control" type="password" name="current_pas" placeholder="current password"></div>
            <div class="form-group"><input class="form-control" type="password" name="new_password" placeholder="Password"></div>
            <div class="form-group"><input class="form-control" type="password" name="conf_password" placeholder="Password (repeat)"></div>
            
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Save Changes</button></div><a href="#" class="already">You already have an account? Login here.</a></form>
    </div>
</div>
{% endblock body %}

{% block script %}
<script>
    function checknewpassword(){
        if(document.change_pwd.new_password.value!=document.change_pwd.conf_password.value){
            alert("Password Does Not Match")
            document.change_pwd.conf_password.focus()
            return false;
        }
        return true;
    }
</script>


 {% if error == "no" %}
<script>
    alert("Password Updated Successfully")
</script>
{% endif %} 
{% if error == "yes" %}
<script>
    alert("Something went wrong!! please try again....!!!")
</script>
{% endif %} 
{% if error == "not" %}
<script>
    alert("Enter the current password correctly!!!")
    document.change_pwd.current_pas.focus()
</script>
{% endif %}  
{% endblock script %}
 

